@media screen and (min-width: 1440px) {
    
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 640px;
        height: 450px;
        border-radius: 10px;

        display: flex;
        flex-wrap: nowrap;
        
    }
    .img-div img{
        width: 337px;
        height: 450px;
        border-radius: 10px 0px 0px 10px;
    }
    .texts{
        padding-top: 32px;
    }
    .addtocart-div{
        width: 250px;
        height: 48px;
    }
    
   



}

